@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
.answer.open {
    max-height: 100px; /* You can adjust this value */
    opacity: 1;
}
h1{
    font-family: 'Zilla Slab', serif;
    padding-right: 6rem;
    font-weight: 900;
    font-weight: bold;

}
.faq-page{
    padding: 4% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #F9F5EA;

}
.answer {
    max-height: 0;
    overflow: hidden;
    font-family: 'Zilla Slab', serif;
    transition: max-height 0.2s ease-in-out;
    font-family: 'Zilla Slab', serif;
  }
  
  .answer.open {
    max-height: 100px; 
    font-family: 'Zilla Slab', serif;
    color: #4b4a49;
  }
.accordion{
    padding: 1.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Zilla Slab', serif;
}
.Acc{
    width: 40%;
    padding-top: 4%;
}
.faq-nav-btns{
    box-shadow: 0;
    align-items: flex-start;
    font-family: 'Zilla Slab', serif;
    display: flex;
border-radius: 10px;
padding: 0.6rem 2rem;
font-size: 120%;
background: transparent;
border: 1px solid var(--primary-color-100, #E9DBD0);

}

span{
    font-size: 200%;
}
.faq-nav-btns:hover{
    background-color: black;
    transition: 0.2s ease-in-out;
    color: beige;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    font-size: 120%;
    border: 0;
}
.first {
    background-color: black;
    font-family: 'Zilla Slab', serif;
    transition: 0.2s ease-in-out;
    color: beige;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    font-size: 120%;
    border: 0;
}
.line{
    width: 100%;
height: 1px;
background: #DFC8B8;
}


.faq-navigation{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
}
