.mainProduct{
    height: 81.5vh;
    width: auto;
    background: #d6af99;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #d6af99;
    position: relative;
    box-shadow: 0 10px 0px 12px; 
    background-image: linear-gradient(358.11deg, #7A6457 3.46%, rgba(170, 155, 147, 0) 43.69%);
}

.mainProduct h1{
    color: #FFF;
text-align: center;
font-family: Zilla Slab;
font-size: 100px;
font-style: normal;
font-weight: 900;
position: absolute;
letter-spacing: 3.84px;
top: 3%;
left: 8.3%;

}
.mainProduct .second{
    color: #FFF;
text-align: center;
font-family: Zilla Slab;
font-size: 100px;
font-style: normal;
font-weight: 900;
position: absolute;
letter-spacing: 3.84px;
top: 3%;
left: 55%;

}